@font-face{
    font-family: "Nunito-Regular";
    src: url("../fonts/Nunito-Regular.ttf")
}
html,body{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Nunito-Regular;
}
#main-section{
    width: 90%;
    margin: 0 auto;
    background: red;
    text-align: center;
}
