@font-face{
    font-family: "Nunito-Regular";
    src: url("../fonts/Nunito-Regular.ttf")
}
html,body{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Nunito-Regular;
}
body{
    background: url("../image/bgr-1.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.login-sect{
    width: 40%;
    padding: 20px;
    background: rgba(0, 0, 0, .5);
    margin: 15% auto;
    border-radius: 5px;
}
.login-sect table{
    width: 100%;
}
.login-sect input{
    width: 90%;
    height: 30px;
    font-size: 15px;
    color: #F85700;
    letter-spacing: 1px;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;    
    transition: all 500ms ease;
}
.login-sect input:focus{
    width: 100%;
    background: #F85700;
    color: #fff;
}
.login-sect input::-webkit-input-placeholder{
    padding-left: 10px;
    letter-spacing: 2px;
}
.login-sect input::-moz-placeholder{
    padding-left: 10px;
    letter-spacing: 2px;
}
.login-sect button{
    width: 30%;
    padding: 10px;
    position: relative;
    left: 70%;
    margin-top: 10px;
    background: transparent;
    color: #fff;
    font-size: 15px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;    
    transition: all 300ms ease;
}
.login-sect button:hover{
    background: #F85700;
    color: #fff;
}